@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*{
    padding: 0%;
    margin: 0%;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1rem;
}

a{
    text-decoration: none;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: greenyellow;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero-image.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-image-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero1.jpg);
    height: 130vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-image-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero2.jpg);
    height: 130vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-image-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero3.jpg);
    height: 130vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-image-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero4.jpg);
    height: 130vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-image-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero5.jpg);
    height: 130vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.hero-image-6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero6.jpg);
    height: 130vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

section .fotoritocco{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    max-width: 1300px;
}

.hero-text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-title{
    font-size: 4.5rem;;
}

.hero-desc{
    font-size: 2rem;
}

.name{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.project-name{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}

section .project-desc{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-indent: 1.5rem;
}

section .header{
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.features{
    margin-top: 3rem;
    margin-left: 2.75rem;
    margin-right: 2.75rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: green;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #fff;
}

.features .card img{
    max-width: 400px;
}

.footer{
    margin-top: 5rem;
    padding-bottom: 4rem;
    position: relative;
}

.footer h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

.wrapper{
    display: inline-flex;
}

.tooltip{
    color: #ccc;
}

.wrapper .icon{
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .icon span i{
    font-size: 25px;
    line-height: 60px;
    color: green;
}

.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    top: -70px;
}

.wrapper .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px, -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip:before{
    background: green;
}

.wrapper .icon:hover span i{
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #181818;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.button:hover{
    background-color: green;
    color: #fff;
}

section .about{
    padding-top: 5rem;
    padding-bottom: 2rem;
    position: relative;
}

section .about .material-symbols-outlined{
    height: 60px;
    width: 60px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 18px;
    color: green;
    transition: background 0.4s;
    transition: color 0.4s;
}

section .about .info{
    color: #fff;
    padding-left: 0.5rem;
    transition: font-size 0.4s;
    transition: color 0.4s;
}

section .about .material-symbols-outlined:hover{
    background: green;
    color: #fff;
}

section .about .material-symbols-outlined:hover + .info{
    font-size: large;
    color: green;
}

section .about ul{
    margin-left: 35%;
}
